.favorites{
    position: relative;
    z-index: 2;
    position:absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    right: 0;
    background-color: var(--background-active);
    transition: right 1s ease-in-out;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.hide{
    right: -120vw;
    width: 100vw;
    height: 100vh;
}

.favorites--close{
    position: absolute;
    top:0.7em;
    left:0.7em;
    background-color: #0000;
    font-size: x-large;
    border:none;
    color:white;
}

.favorites--title{
    font-size: xx-large;
    margin: 1em auto;
    text-align: center;
}