@import './header.css';
@import './colors.css';
@import './settings.css';
@import './items.css';
@import './favorites.css';
@import './mediaQuery.css';
@import './modal.css';


body {
    background-color: var(--background-main);
    color: white;
    font-family: 'Poppins', sans-serif;
    
}
.wrapper-main {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template:
        "header"
        "settings"
        "main"
        "footer";
}
hr {
    height: 1px;
    border: none;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.text {
    color: #FFFA;
    font-weight: 300;
}
.settings {
    grid-area: settings;
}
main {
    grid-area: main;
    width:100%;

}
.wrapper-main-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    
}
.wrapper-main-list-title{
    width:100%;
}
footer {
    grid-area: footer;
}




::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-main); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #52cffe; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #52cffe; 
  }