@media (min-width: 600px) {

    .wrapper-main {
        grid-template:
            "header"
            "settings"
            "main"
            "footer"
    }
    .wrapper-main-list {
        width: 100%;
    }
    .song {
        width: 31.33333%;
        height:27vh;
    }
    .item-cover {
        width: 100%;
        border-radius: 50%;
        background-repeat: no-repeat;
        padding: 35px 0;
        background-size: cover;
    }
    .item-cover>button{
        border: none;
        color: white;
        border-radius: 50%;
        background-color: #0000;
        padding: 1em;
        border: 2px solid white; 
        font-size: x-large;
        margin: 0 auto;
    }
    
    .item-info {
        width:90%;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }
    .background{
        display: flex;
        flex-direction: column;
    }
    main {
        max-height: 75vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    .favorites{
        width: 40vw;
        height: 100vh;
        top:0;
        right: 0;
        background-color: var(--background-active);
        transition: right 1s ease-in-out;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    }
    
    .hide{
        right: -50vw;
        width: 40vw;
        height: 100vh;
    }

    .favorites .song {
        min-width:31.333%;
        margin: 1%;
        border-radius: 10px;
        /*box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);*/
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    



    .album, .video{
        width:31%;
        margin: 1%;
    }
    .album>.background, .video>.background{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:27vh;
    }
    .album p, .video p{
        max-width: 90%;
        overflow: hidden;
        text-overflow: clip;
        max-height: 50%;
    }
    .artist{
        width:48%;
        margin: 0.75%;
    }
    @media (max-width: 1200px) {

        .favorites .song {
            width: 48%;
        }
        .favorites .album, .favorite .video{
            width:48%;
            margin: 1%;
        }
        .favorites .artist{
            width:98%;
        }
    
    }

    @media (max-width: 800px) {

        .favorites .song {
            width: 98%;
            height:25vh;
        }
        .favorites  .album, .favorites  .video{
            width:98%;
            margin: 1%;
        }
    
    }

    
}




